body {
  background-color: #e7e7f4;
  font-family: "Overpass", sans-serif;
}

a {
  color: #8d89f5;
}
.app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 35px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
}

header {
  border-bottom: 1px;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #e7e7f4;
  border: none;
  border-radius: 4px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #8d89f5;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  margin-left: 2px;
  transition: all 200ms ease-in-out;
}

.search-form-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

h1 {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 2px;
  font-size: 38px;
}

.location-date {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.current-temp {
  display: flex;
  justify-content: center;
}
.current-temp-icon {
  width: 100px;
  height: 100px;
}
.current-temp-value {
  font-size: 80px;
  line-height: 80px;
  margin-top: 20px;
}

.current-temp-unit {
  margin-top: 20px;
  font-size: 20px;
}
.current-temp-details {
  font-size: 12px;
  color: rgba(39, 33, 66, 0.6);
  text-align: center;
}

.current-temp-details strong {
  color: #8d89f5;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.weather-forecast-day {
  text-align: center;
  font-size: 12px;
}
.weather-forecast-date {
  color: rgba(39, 33, 66, 0.6);
  line-height: 20px;
}

.weather-forecast-icon {
  font-size: 30px;
  margin-bottom: 10px;
}
.weather-forecast-temperatures {
  color: #8d89f5;
  display: flex;
  justify-content: center;
}
.weather-forecast-temp-max {
  padding: 0 5px;
  font-weight: bold;
}
footer {
  border-top: 1px;
  padding: 30px 0 0 0;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
